body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: white;
  background: #849d8f;
  background-size: 1200px auto;
}

body > input[type="radio"] {
  display: none;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  position: relative;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-logo {
  float: left;
  width: 154px;
  padding-top: 9px;
}

.main-navigation {
  float: left;
  margin-left: 10px;
  width: 689px;
  padding-top: 23px;
}

.main-navigation .menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.menu > li {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  vertical-align: middle;
  margin-right: 3px; 
  position: relative
}

.sub-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #f8f7f4;
    width: 145px;
    top: 38px;
    left: -6px;
    color: #323232;
    border-radius: 5px;
}

.menu  a {
  display: block;
  padding: 5px 13px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.20); 
}

.main-navigation a:hover {
  background: #ffffff;
  border-radius: 15px;
  color: #323232;
}

.main-navigation .active {
  background-color: #d07058;
  border-radius: 15px;
}

.sub-menu a {
   color: #323232;
   font-size: 14px;
   line-height: 16px;
   font-weight: normal;
}

.user-block {
  float: right;
  width: 267px;
  margin-left: 26px;
  padding-top: 23px;
  font-size: 0px; 
}

.user-block a {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 15px;
  color: #ffffff;
  margin-right: 10px;
  vertical-align: top;
  height: 23px;
  padding-top: 9px;
}

.user-block a:last-child {
  margin-right: 0px;
}

.user-block a:first-child {
  margin-left: 6px;
}

.search {
  width: 32px;
  position: relative;
}

.search::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 32px;
  height: 23px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -794px;
}

.login {
  width: 48px;
  padding-left: 44px;
  position: relative;
}

.login::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 6px;
  width: 32px;
  height: 23px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: 5px -155px;  
} 

.basket {
  width: 73px;
  padding-left: 44px;
  position: relative;
}

.basket::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 32px;
  height: 23px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: 5px -5px;
}

a.basket-catalog {
  color: #323232;
  background-color: rgba(255, 255, 255, 0.99);
  font-weight: 600;
}

.basket-catalog::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 32px;
  height: 23px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: 5px -35px;
}

.cart {
  display: table;
  position: absolute;
  top: 59px;
  right: 27px; 
  z-index: 1;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.cart-items {
  color: #323232;
  font-size: 13px;
  line-height: 16px;
}


.schedule {
  position: absolute;
  width: 167px;
  right: 26px;
  top: 74px;
}

.schedule p {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin: 0;
  text-indent: 16px;
  
}

.schedule a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 24px;
  text-indent: 0px;
  padding-top: 7px; 
  padding-left: 0px;
}

.breadcrumbs {
  display: inline-block;
  width: 267px;
  margin-top: 15px;
  font-size: 0px;
  padding-top: 5px;
  margin-bottom: -1px;
}

.breadcrumbs a{
  margin-right: 20px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  padding-left: 1px;
  color: #ffffff;
  text-decoration-color: rgba(255, 255, 255, 0.20);
}

.breadcrumbs a:last-child {
  text-decoration: none;
}

.page-title {
  display: block;
  margin: 0;
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.filter {
  margin-bottom: 47px;
}

.filter h2,
.sorting-block label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-top: 0px;
  padding-top: 0px;
  text-indent: 15px;
}

.sorting-block label {
  display: inline-block;
  vertical-align: top;
  padding-left: 2px;
}

.sorting-block {
  float: left;
  width: 16.8%;
  margin-right: 16px;
  margin-bottom: 15px;
}

.sorting-block select {
  border: none;
  padding: 9px 13px;
  border-radius: 17px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.20);
}

.sorting-block select:hover {
   color: #323232;
   background-color: #ffffff;
}

.price-block {
  float: left;
  width: 19%;
  margin-right: 16px;
  margin-bottom: 15px;
}

.price-block h2 {
  margin-bottom: 7px;
}

.price-block .price1 {
  position: relative;
  width: 218px;
  min-height: 36px;
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 17px;
}

.price-block .price2 {
  position: absolute;
  width: 188px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.50);
  top: 16px;
  left: 15px;
  cursor: pointer;
}

.price-block .price3 {
  position: relative;
  width: 108px;
  height: 4px;
  background-color: #ffffff;
  margin-left: 25px;
  cursor: pointer;
}

.price3::before,
.price3::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
}

.price3::before {
  top: -9px;
  left: -5px; 
}

.price3::after {
  top: -9px;
  left: 93px; 
}

.fat-block {
  float: left;
  width: 36.1%;
}

.fat-block h2 {
  margin-bottom: 13px;
}

.fat-block input {
  display: none;
}

.fat-block label {
  margin-left: 46px;
  position: relative;
}

.fat-block label::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #323232;
  top: 0px;
  left: -30px;
}

.checkbox-area {
  float: left;
  width: 61.2%;
  margin-right: 16px;
}

.buttons-filter {
  float: left;
  width: 12.4%;
  margin-top: 40px;
}

.slider {
  margin-bottom: 41px;
}

.slide {
  display: none;
}

.site-wrapper {
  min-width: 1254px;
  min-height: auto;
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.0s ease, background-color 0.0s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide3.png");
}

.content-wrapper {
/*
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
*/
}

.slider {
  position: relative;
  padding-top: 313px;
  text-align: center;
  color: #ffffff;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 9px 42px;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}


.promo {
  margin-bottom: 40px;
}

.promo-left {
  float: left;
  width: 560px;
  min-height: 229px;
  background: url("../img/raspberries.jpg");
  border-radius: 15px;
}

.promo-name {
  display: block;
  margin: 16px 19px;
  color: #ffffff;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.promo-left  p,
.promo-right p {
  margin: 0px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 18px;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 45px;
}

.promo-right {
  float: right;
  width: 560px;
  min-height: 229px;
  background: url("../img/chocolate.jpg");
  border-radius: 15px;
}

.btn {
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64); 
}

.btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}


.promo .btn {
  float: right;
  margin-right: 20px;
  padding: 10px 22px;
}

.popular-gallery {
  margin-bottom: 44px;
  font-size: 0px;
}

.hit {
   margin-bottom: -19px;
}

.gallery-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 267px;
  margin-right: 26px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 20px;
}

.hit .gallery-item::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 61px;
  height: 61px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -248px;
}

.gallery-item:hover a {
  border-bottom: none;
}

.gallery-item:nth-child(4n) {
  margin-right: 0;
}

.gallery-item p {
  display: block;
  text-align: center;
  margin-top: 22px;
}

.gallery-item  b {
  position: relative;
  display: block;
  font-weight: bold;
  line-height: 45px;
  font-size: 45px;
  margin-top: -63px;
}

.gallery-item .btn {
  position: absolute;
  z-index: 2;
  display: none;
  padding: 10px 20px;
  margin-left: 30px;
  margin-top: -7px;
 
}

.gallery-item:hover .btn{
  display: inline-block;
  z-index: 100;
}

.gallery-item span {
  font-weight: bold;
  line-height: 45px;
  font-size: 30px;
  margin-left: 24px;
}

.gallery-item b::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 78px;
  width: 35px;
  height: 45px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -2px -683px;
}

.gallery-item .ice-cream-name {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.gallery-item:hover {
  z-index: 1;
}

.gallery-item:hover::after {
  content: "";
  position: absolute;
  top: 58%;
  left: 50%;
  display: block;
  width: 293px;
  height: 405px;
  border-radius: 5px;
  background-color: rgba(248, 247, 244, 0.3);
  box-shadow: 0 20px 20px 0 rgba (0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.features {
  margin: 0px;
  margin-bottom: 40px;
  padding: 0;
  min-height: 306px;
  color: #323232;
  background-color: #efe1c2;
  background-image: url("../img/features.jpg");
  border-radius: 15px;
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 50px;
  margin-bottom: 0px; 
}

.features ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.features li {
  display: inline-block;
  font-size: 0;
  vertical-align: top; 
  margin-top: 0px;
  margin-right: 13px;
  padding: 0px;
  width: 560px;
  margin-bottom: 2px;
  position:relative;
}

.features li:nth-child(2n) {
  margin-right: 0px;
}

.features p {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  padding-left: 76px;
  padding-top: 20px;
  margin: 0px;
}

.technology::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 20px;
  width: 50px;
  height: 50px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -320px;
}

.producer p{
  padding-left: 67px;
}
.producer::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  width: 50px;
  height: 50px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -420px;
}

.ingredients::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 20px;
  width: 50px;
  height: 50px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -480px;
  
}

.transportation p {
  padding-left: 67px;
  padding-right: 20px;
}
.transportation::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 10px;
  width: 50px;
  height: 50px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -420px;
}

.block-subscribe {
  margin-bottom: 40px;  
}

.block-subscribe-left {
  float: left;
  width: 560px;
  min-height: 220px;
  background-color: #ffffff;
  background-image: url("../img/strawberry.jpg");
  border-radius: 15px;
}

.block-subscribe-left p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #323232;
  padding-top: 7px;
  padding-left: 20px;
  margin-bottom: 0px;
}

.block-subscribe-left a {
  display: block;
  text-decoration: underline;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 3px;
  margin-right: 250px;
  text-align: left;
}

.block-subscribe-right {
  float: right;
  width: 548px;
  height: 208px;
  background: #f8f7f4 url("../img/post.png") center center;
  padding: 6px;
  border-radius: 15px;  
}

.block-subscribe-right .inner{
  width: 536px;
  height: 196px;
  background: #f8f7f4 center center;
  border-radius: 15px;
  text-align: left;
}

.inner p {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  padding-left: 15px;
  padding-top: 6px;
  padding-right: 5px;
}

.appointment-form {
  margin-top: 35px;
  position: relative;
}

.appointment-form input{
  width: 365px;
  height: 40px;
  margin-left: 15px;
  border-radius: 5px;
  border-style: solid;
  border-color: #d3d3d2;
  border-width: 1px;
} 

.appointment-form label {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  position: absolute;
  z-index: 100;
  top: 10px;
  left: 29px;
}

.appointment-form .btn {
  border: none;
  margin-left: 9px;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 24px;
}

.location {
  position: relative;
  background-image: url("../img/map.jpg") no-repeat;
}

.address-block {
  position: absolute;
  top: 62px;
  right: 100px;
  background-color: #ffffff;
  opacity: 0.98%;
  border-radius: 15px;
  padding: 29px 26px 20px 25px;
}

.address-block .btn {
  padding: 10px 28px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}

.address-block p {
  margin: 0px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  margin-bottom: 19px;
}

.address-block p:nth-child(2n) {
  margin-bottom: 25px;
}

.address-block span {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}


.address-block a:first-child {
  text-decoration: none;
  color: #323232;
  display: inline-block;
  margin-top: 5px;
}

.main-footer {
  margin-top: 13px;
  text-decoration: none;
  color: #ffffff; 
  font-size: 13px;
  line-height: 18px;
  padding-bottom: 25px;
}

.footer-social {
  float: left;
  width: 267px;
  margin-right: 128px;
  text-align: left;  
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 0;
  width: 32px;
  height: 32px;
  margin-top: 15px;
  margin-right: 8px;
  border: 3px solid rgba(255, 255, 255, 0.50);
  border-radius: 50%;
}

.social-btn:hover {
}

.social-btn-tw {
  background-image: url("../img/spritesheet.png");
  background-position: -5px -821px;
}

.social-btn-inst{
  background-image: url("../img/spritesheet.png");
  background-position: -5px -378px;
}

.social-btn-fb {
  background-image: url("../img/spritesheet.png");
  background-position: -5px -183px;
}

.social-btn-vk {
  background-image: url("../img/spritesheet.png");
  background-position: -5px -863px;
}

.footer-links {
  float: left;
  width: 370px;
}

.footer-links ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
  padding-top: 14px;
}

.footer-links li {
  display: inline-block;
  font-size: 0px;
  vertical-align: top;
  margin: 0px;
  padding-left: 28px;
}

.footer-links li:last-child {
  padding-left: 40px;
}

/*
.footer-links li:nth-child {
  margin-right: 0px; 
}
*/

.footer-links a{
  text-decoration: none;
  color: #ffffff; 
  font-size: 13px;
  line-height: 18px;
/*  padding-left: 28px;*/
  border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

/*
.footer-links .standard {
  padding-left: 40px;
}
*/

.footer-links .heart{
  font-weight: bold;
  position: relative;
}

.footer-links .heart::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -23px;
  width: 32px;
  height: 23px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -225px;
}

.footer-copyright {
  float: right;
  width: 200px;
}

.footer-logo {
  display: inline-block;
  margin-left: 12px; 
}

.footer-copyright span {
  display: block;
  font-size: 12px;
  line-height: 18px;
  padding-left: 10px;
  
}

.footer-copyright a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
}

.footer-copyright a:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.20);
}

.paginator {
  float: right;
  width: 198px;
  margin-bottom: 21px;
  white-space: nowrap;
}

.paginator a {
  display: inline-block;
  min-width: 26px;
  height: 26px;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
}

.paginator .prev, 
.paginator .next {
  font-size: 0px;
}

.paginator .prev {
  background-image: url(".png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.paginator .next {
    background-image: url(".png");
    background-repeat: no-repeat;
    background-position: 0 -40px;
}

.paginator .current {
   background-color: #f8f7f4;
   color: #323232;
   border-radius: 100px;
}

.paginator .disabled {
    opacity: 0.2;
}

.paginator a:hover {
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 100px; 
}

hr {
  width: 1146px;
  color: rgba(255, 255, 255, 0.30);
  size: 1px;
  margin-bottom: 18px;
}

.feedback {
  width: 425px;
  padding: 13px 25px 25px;
  min-height: 442px;
  background-color: #f8f7f4;
  border-radius: 15px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  transform: translate(-50%,-50%);
}

.feedback h3 {
  font-size: 24px;
  line-height: 28px;
  color: #323232;
  font-weight: 500;
}


div, 
article, 
header, 
footer, 
section, 
a, 
p, 
span {
  outline: 1px solid red;
}
