body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  color: white;
  
  background: #849d8f no-repeat 50% 0px;
  background-size: 1200px auto;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  position: relative;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-logo {
  float: left;
  width: 154px;
  padding-top: 9px;
}

.main-navigation {
  float: left;
  margin-left: 10px;
  width: 689px;
  padding-top: 23px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  vertical-align: middle;
  margin-right: 3px;
  
}

.main-navigation a {
  display: block;
  padding: 5px 13px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.20);
}

.main-navigation a:hover {
  background: #ffffff;
  border-radius: 15px;
  color: #323232;
}

.user-block {
  float: right;
  width: 267px;
  margin-left: 26px;
  padding-top: 23px;
  font-size: 0px; 
}

.user-block a {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.20);
  border-radius: 15px;
  color: #ffffff;
  margin-right: 10px;
  vertical-align: top;
  height: 23px;
  padding-top: 9px;
}

.user-block a:last-child {
  margin-right: 0px;
}

.user-block a:first-child {
  margin-left: 6px;
}

.search {
  width: 32px;
  position: relative;
}

.search::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 32px;
  height: 23px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: -5px -794px;
}

.login {
  width: 48px;
  padding-left: 44px;
  position: relative;
}

.login::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 6px;
  width: 32px;
  height: 23px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: 5px -155px;  
} 

.basket {
  width: 73px;
  padding-left: 44px;
  position: relative;
}

.basket::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 32px;
  height: 23px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: 5px -5px;
}

a.basket-catalog {
  color: #323232;
  background-color: rgba(255, 255, 255, 0.99);
  font-weight: 600;
}

.basket-catalog::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 32px;
  height: 23px;
  background: url("../img/spritesheet.png") no-repeat;
  background-position: 5px -35px;
}

.schedule {
  position: absolute;
  width: 167px;
  right: 27px;
  top: 74px;
}

.schedule p {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  margin: 0;
  text-indent: 16px;
  
}

.schedule a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 24px;
  text-indent: 0px;
  padding-top: 7px; 
}

.breadcrumbs {
  display: inline-block;
  width: 267px;
  margin-top: 15px;
  font-size: 0px;
  padding-top: 5px;
}

.breadcrumbs a{
  margin-right: 20px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
  padding-left: 1px;
  color: #ffffff;
  text-decoration-color: rgba(255, 255, 255, 0.20);
}

.breadcrumbs a:last-child {
  text-decoration: none;
}

.page-title {
  display: block;
  margin: 0;
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.filter {
  margin-bottom: 47px;
}

.sorting-block {
  float: left;
  width: 16.8%;
  margin-right: 16px;
}

.sorting-block label {
  
}

.price-block {
  float: left;
  width: 19%;
  margin-right: 16px;
}

.fat-block {
  float: left;
  width: 36.1%;
}

.fat-block h2,
.checkbox-area h2 {
  padding: 0px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-indent: 15px;
}

.checkbox-area {
  float: left;
  width: 61.2%;
  margin-right: 16px;
}

.buttons-filter {
  float: left;
  width: 12.4%;
  margin-top: 40px;
}

.slider {
  margin-bottom: 23px;
}

.promo {
  margin-bottom: 40px;
}

.promo-left {
  float: left;
  width: 560px;
  min-height: 229px;
  background: url("../img/raspberries.jpg");
  border-radius: 15px;
}

.promo-right {
  float: right;
  width: 560px;
  min-height: 229px;
  background: url("../img/chocolate.jpg");
  border-radius: 15px;
}

.popular-gallery {
  margin-bottom: 40px;
  font-size: 0px;
}

.gallery {
  margin-bottom: 40px;
  font-size: 0px;
}

.gallery-item {
  display: inline-block;
  vertical-align: top;
  width: 267px;
  margin-right: 26px;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
}

.gallery-item:nth-child(4n) {
  margin-right: 0;
}

.gallery-item p {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.20);
  text-align: center;
  margin-top: 5px;
}

.features {
  margin-bottom: 40px;
  padding: 27px 21px;
}

.features li{
  float: left;
  width: 476px;
}

.technology {
  
}

.producer {
  margin-left: 83px;
}

.ingredients {
  
}

.transportation {
  margin-left: 83px;
}

.block-subscribe {
  margin-bottom: 40px;  
}

.block-subscribe-left {
  float: left;
  width: 560px;
  min-height: 220px;
  background-image: url("../img/strawberry.jpg");
  border-radius: 15px;
}

.block-subscribe-right {
  float: right;
  width: 560px;
  min-height: 220px;
}

.location {
  position: relative;
}

.address-block {
  position: absolute;
  top: 62px;
  right: 87px;
  background-color: #ffffff;
  color: #323232;
  opacity: 0.98%;
  border-radius: 15px;
  width: 303px;
  height: 305px;
}

.address-block p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  padding-left: 25px;
  padding-top: 28px;
}

.address-block span {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.address-block a {
  text-decoration: none;
  color: #323232;
  
}

.main-footer {
  margin-top: 20px;
  padding-top: 19px;
  padding-bottom: 25px;
  color: #ffffff;  
}

.footer-social {
  float: left;
  width: 267px;
  margin-right: 133px;
  
  text-align: left;
}

.footer-links {
  float: left;
  width: 326px;
}

.footer-copyright {
  float: right;
  width: 189px;
}

.paginator {
  float: right;
  width: 190px;
}

.btn {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border-radius: 50px;
    
}

.btn:hover {
    background: #f58669;
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 1px 2px rgba(172, 16, 0, 1);
}

.btn:active {
    background: #d74531;
    background: linear-gradient(to bottom, #d74531 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(148, 39, 24, 1);
}

.btn:visited {
    color: #ffffff;
}

div, 
article, 
header, 
footer, 
section, 
a, 
p, 
span {
  outline: 1px solid red;
}
